.nav_item {
  background-color: green;
  color: white;
  border: 1px solid white;
  text-align: center;
  font-family: Verdana;
  font-size: 18px;
}

.nav_item:hover {
  background: darkgreen;
}
  
@media all and (max-width: 800px) {
  .nav_item {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav_item {
    flex-flow: column wrap;
    padding: 0;
  }
}
  